.site-footer {
	width 				: 100%;
	float 				: left;
	background-color 	: $color__bg-footer;
	color 				: $color__text-footer;

	a {
		text-decoration : none;
		color 			: $color__text-footer-links;
	}
}

.footer-wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;
	overflow 	: auto;
	padding 	: 2em 1em;
}

.footer-left {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;

	@media only screen and (min-width: $bp__tablet) {
		width: 75%;
	}
}

.footer-right {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;

	@media only screen and (min-width: $bp__tablet) {
		width 		: 25%;
		float 		: right;
		text-align 	: right;
	}

	.dashicons-email-alt,
	.envelope {
		width 			: 40px;
		height 			: 40px;
		font-size 		: 40px;
		margin-right 	: 0.35em;
		vertical-align 	: middle;
		fill 			: $color__svg-footer;
	}
}

