.widget-area {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;

	@media only screen and (min-width: $bp__tablet) {
		width: 27.5%;
		float: right;

		&.sidebar-content {
			float 	: left;
			margin 	: 0 0 0 2.5%;
		}
	}
}

.widget-title {


	.home & {
		font-size: 2em;
	}
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		margin 		: 0 0 $size__default-bot-marg 0;
		list-style 	: none;
		padding 	: 0;
	}

	li {
		border-bottom 	: 1px solid $color__border-widget-divider;
		padding 		: 1em 0;
	}

	a {
		text-decoration : none;
		color 			: $color__text-widget-links;
	}
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}