$light		: #fff;
$translight : rgba( $light, 0.85 );
$translight2: rgba( $light, 0.7 );
$med		: #ccc;
$dark		: #404041;
$transdark 	: rgba(0,0,0,0.5);
$trans 		: transparent;
$red 		: #a01d20;
$transred 	: rgba($red, 0.8);
$maroon 	: #5f2629;
$blue 		: #457895;
$transblue 	: rgba($blue, 0.8);
$bluegray 	: #51686c;
$lightgray 	: #9fa1a1;
$transgray 	: rgba($lightgray, 0.85);

$gray 		: #ebedee;
$transgray2 : rgba(#ebedee, 0.85);

// Backgrounds
$color__background-body		: $light;
$color__background-screen	: #f1f1f1;
$color__background-hr		: $med;
$color__background-pre		: $med;
$color__background-ins		: #fff9c0;
$color__bg-input 			: $med;
$color__background-button	: $blue;
$color__bg-button-hover 	: lighten( $blue, 10% );
$color__bg-button-focus 	: darken( $blue, 10% );
$color__bg-footer 			: $lightgray;
$color__bg-header 			: $transgray2;
$color__bg-header-mobile 	: $lightgray;
$color__bg-nav-after 		: $transgray2;
$color__bg-nav-after-subpage: $transgray2;


// Text colors
$color__text-screen			: $dark;
$color__text-input			: $dark;
$color__text-input-focus	: $dark;
$color__link				: $red;
$color__link-visited		: $red;
$color__link-hover			: $maroon;
$color__text-main			: $dark;
$color__text-social 		: $light;
$color__text-ins 			: $dark;
$color__text-button 		: $light;
$color__text-button-hover 	: $light;
$color__text-button-focus 	: $light;
$color__text-site-title 	: $dark;
$color__text-header-desc1 	: $red;
$color__text-header-desc2 	: $dark;
$color__text-header-desc3 	: $blue;
$color__text-footer 		: $light;
$color__text-footer-links 	: $light;
$color__text-widget-links 	: $dark;
$color__text-quotes 		: $light;

// Border colors
$color__border-button			: $lightgray;
$color__border-button-hover		: $lightgray;
$color__border-button-focus		: $lightgray;
$color__border-input			: $lightgray;
$color__border-abbr				: $lightgray;
$color__border-submenu-item 	: $lightgray;
$color__border-widget-divider 	: $lightgray;

// Shadow colors
$color__shadow-button-text 			: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner 		: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2 		: rgba(0, 0, 0, 0.05);
$color__shadow-button-inner-hover 	: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner-2-hover : rgba(0, 0, 0, 0.02);
$color__shadow-button-inner-focus 	: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2-focus : rgba(0, 0, 0, 0.15);

// Menu colors
$color__bg-menu-button				: $red;
$color__bg-menu-button-mobile 		: $red;
$color__bg-menu-button-pseudo 		: $color__bg-menu-button-mobile;
$color__bg-menu-item				: $transgray2;
$color__bg-menu-item-hover 			: $transred;
$color__bg-submenu1					: $lightgray;
$color__bg-submenu2					: $transred;
$color__bg-menu-item-mobile-hover 	: $light;
$color__bg-menu-current				: $transblue;
$color__bg-menu-current-hover		: darken( $color__bg-menu-item, 25% );

$color__text-menu					: $dark;
$color__text-menu-hover				: $light;
$color__text-menu-mobile			: $light;
$color__text-menu-item-hover 		: $light;
$color__text-menu-item-mobile-hover : $red;
$color__text-menu-button			: $light;
$color__text-menu-button-mobile 	: $light;
$color__text-menu-button-pseudo 	: $color__text-menu-button-mobile;
$color__text-menu-current			: $light;
$color__text-menu-current-hover		: $light;
$color__text-menu-current-mobile 	: $blue;
$color__text-menu-current-mobile-hover: $blue;
$color__text-submenu				: $light;

//SVGs
$color__svg-menu 					: $dark;
$color__svg-footer 					: $light;
