$size__site-main		: 100%;
$size__site-sidebar		: 25%;

$size__default-bot-marg	: 1.5em;
$size__max-width 		: 1000px;
$size__header-width 	: 280px;
$size__header-left 		: 100px;

$bp__menu-button		: 600px;
$bp__tablet				: 768px;
$bp__content1 			: 900px;
$bp__laptop				: 1000px;
