.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	width			: 100%;

	@media only screen and (min-width: $bp__menu-button+1) {
		max-width 	: $size__max-width;
		margin 		: 0 auto;
		float 		: none;
	}

	ul {
		list-style	: none;
		margin		: 0;
		padding-left: 0;
		display 	: none;

		@media only screen and (min-width: $bp__tablet) {
			display : inline-block;
			width 	: 100%;
		}

		ul {
			display		: inherit;

			@media only screen and (min-width: $bp__menu-button+1) {
				background	: $color__bg-submenu1;
			}

			@media only screen and (min-width: $bp__tablet) {
				background	: $color__bg-submenu2;
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				float		: left;
				position	: absolute;
				z-index		: 99999;

				//top			: 2.5em;
				//left		: -999em;

				left 		: -100%;
				visibility 	: hidden;

				ul {
					//left: -999em;
					top	: 0;
				}

				li {
					white-space: nowrap;
					border-bottom: 2px solid $color__border-submenu-item;

					&:hover > ul {
						left: 100%;
					}

					&:last-child {
						border-bottom: 0;
					}
				}

				a {
					color: $color__text-submenu;
				}
			} // breakpoint

			ul {
				a {
					@media only screen and (max-width: $bp__menu-button) {
						padding: 0.5em 3em;
						border-left: none;
					}
				}
			}

			a {
				background-color: transparent;

				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

 				@media only screen and (min-width: $bp__tablet) {
					color 	: $light;
				}
			}

			&:hover > a {
				background-color: transparent;
			}

			a:hover {
			}

			li {
				margin: 0;

				@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__tablet) {
					display : inline-block;
					width 	: 49%;
				}

				&:last-child {
					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}
			}

		} // .submenu ul

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__tablet) {
			position 	: relative;
			margin 	 	: 0.5em 0;
		}

		&:hover {

 			> a {
				background 	: $color__bg-menu-item-mobile-hover;
				color 		: $color__text-menu-item-mobile-hover;
				font-weight : 700;

				@media only screen and (min-width: $bp__tablet) {
					background 	: $color__bg-menu-item-hover;
					color 		: $color__text-menu-item-hover;
				}
			}

			> ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					//display: block;
					top 		: 0;
					visibility 	: inherit;
					left 		: 100%;
				}
			}

			.dashicons,
			.circleandarrow {
				display: none;
			}
		}
	}

	a {
		padding 		: 0.5em 1em;
		display			: block;
		text-decoration	: none;
		color 			: $color__text-menu-mobile;

		@media only screen and (min-width: $bp__tablet) {
 			color 			: $color__text-menu;
			background-color: $color__bg-menu-item;
			transition 		: background 0.3s ease, color 0.3s ease;

			&:before {
				max-width 			: 0;
				color 				: $light;
				background-color 	: $transred;
				content 			: attr(data-hover);
				transition 			: max-width 0.5s;
			}
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		@media only screen and (min-width: $bp__tablet) {
			background: $transblue;
		}

		@media only screen and (min-width: $bp__tablet) {
			background: $color__bg-menu-current;
		}

		> a {
			color: $color__text-menu-current;

			@media only screen and (min-width: $bp__tablet) {
				background: transparent;
			}
		}

		&:hover {

			> a {
				color 		: $color__text-menu-current-mobile-hover;

				@media only screen and (min-width: $bp__tablet) {
					background 	: $transblue;
					color 		: $color__text-menu-current-hover;
				}
			}
		}

		ul {


			li {

				background-color: transparent;
			}
		}
	}

	&.toggled {

		.nav-menu {
			@include menutoggle();
		}
	}

	.dashicons-arrow-right-alt {
		width 			: 25px;
		height 			: 25px;
		font-weight 	: bold;
		border 			: 2px solid;
		border-radius 	: 50%;
		font-size 		: 13px;
		padding-top 	: 4px;
		float 			: right;
		fill 			: $color__svg-menu;
	}

	.circleandarrow {
		display: none;

		@media only screen and (min-width: $bp__tablet) {
			display 		: inherit;
			width 			: 25px;
			height 			: 25px;
			float 			: right;
			fill 			: $color__svg-menu;
		}
	}

	&:after {

		@media only screen and (min-width: $bp__tablet) {
			display 	: block;
			content 	: "";
			width 		: 100%;
			height 		: 200px;
			background 	: rgba(235,237,238,0.85);
			background 	: -moz-linear-gradient(top, rgba(235,237,238,0.5) 0%, rgba(255,255,255,0.5) 100%);
			background 	: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,237,238,0.5)), color-stop(100%, rgba(255,255,255,0.5)));
			background 	: -webkit-linear-gradient(top, rgba(235,237,238,0.5) 0%, rgba(255,255,255,0.5) 100%);
			background 	: -o-linear-gradient(top, rgba(235,237,238,0.5) 0%, rgba(255,255,255,0.5) 100%);
			background 	: -ms-linear-gradient(top, rgba(235,237,238,0.5) 0%, rgba(255,255,255,0.5) 100%);
			background 	: linear-gradient(to bottom, rgba(235,237,238,0.5) 0%, rgba(255,255,255,0.5) 100%);
			filter 		: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebedee', endColorstr='#ffffff', GradientType=0 );
		}


		.home & {
			height: 0;

			@media only screen and (min-width: $bp__content1) {
				height 				: 130px;
				background-color 	: $color__bg-nav-after-subpage;
			}
		}

	}

} // .main-navigation

// Center Menu
.menu-primary-menu-container {

	@media only screen and (min-width: $bp__menu-button+1) {
		//width: 200px;
	}
}


/* Small menu */
.menu-toggle {
	@include menutoggle();

	@media only screen and (min-width: $bp__tablet) {
		display 	: none;
		background 	: $color__bg-menu-button;
		color 		: $color__text-menu-button;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin	: 0 0 $size__default-bot-marg;
		overflow: hidden;
	}

	& .nav-previous {
		float	: left;
		width	: 50%;
	}

	& .nav-next {
		float		: right;
		text-align 	: right;
		width		: 50%;
	}
}

.children-caret {
	display 	: inline-block;
	height 		: 0.75em;
	margin-left : 0.25em;
	width 		: 0.75em;
}


