.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-link {
	display: block;

	@media only screen and (min-width: $bp__post-meta) {
		display : inherit;
		float 	: right;
	}
}