.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	width 			: 100%;
	margin-bottom 	: $size__default-bot-marg;
	overflow 		: auto;
}

.content-area {
	width 		: 100%;
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;

	@media only screen and (min-width: $bp__tablet) {
		padding-left: calc( #{$size__header-width} + 1em);
		max-width 	: calc( 800px + #{$size__header-width} + #{$size__header-left} + 1em );
	}

	@media only screen and (min-width: $bp__content1) {
		padding-left: calc( #{$size__header-width} + #{$size__header-left} + 1em);
	}
}